.header {
  background: linear-gradient(90deg,#1c1b41 2.34%,#4bc1c3 100.78%);
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #ebdc5b; 
}
.logo-img {
  margin-left: 20px;
}