.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px; 
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer p a {
    color: #6f4caf; 
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer p a:hover {
    color: #2E8B57; 
  }
  